h1 {
  text-align: center;
  background-color: aquamarine;
  padding: 20px;
}
.sidenav {
  height: 80vh;
  width: 400px;
  position: fixed;
  top: 100px; /* Stay at the top */
  /* background-color: rgb(138, 131, 131); */
  text-align: center;
}

.main {
  text-align: center;
  width: 80vw;
  margin-left: 15%;
  height: 80vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
